/*html {
  font-family: "Oswald"; 
  margin: 1em ;
  background-color: #F2EEEE;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #e3e3e8;
}
#logo {
  float: left;
  font-size: 3em;
  margin: 0;
  padding: .4em;
  text-decoration: none;
  color: #333;
  border-right: 1px solid #e3e3e8;
  transition: .5s all;
}
#logo:hover {
  color: #fafafa;
  background-color: #333;
}
nav {
  float: right;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2.2em 2em;
}
nav ul li {
  display: inline;
  padding: 0 .4em;
}
nav ul li a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6em;
  padding-bottom: 1.3em;
  transition: .5s color;
}
nav ul li a:hover {
  border-bottom: 3px solid #333;
}
#current {
  color: #ff4629;
  border-bottom: 3px solid #333;
}
*/
/*//homepage*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  margin: 20px auto;
  width: 90%;
  background-color: #e3e3e8;
}
nav ul, footer ul {
  padding: 0px;
  list-style: none;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
}
h1,h2,h3,h4,h5,h6,nav {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
p {
  line-height: 1.4em;
  color: #333;
}
footer {
  border-top: 150px solid #e5e5e5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
}
ul.posts li {
  list-style: none;
}

.subtitle {
  font-size: .5em;
}
.portrait {
  display: block;
  margin: 0 auto;
  border-radius: 10%;
  max-width: 200px;
}
.text {
  display: block;
  width: 100%;
}
.blog-latest {
  clear: left;
  display: block;
}
.meta {
  margin-top: -1.4em;
  padding-bottom: 1.4em;
  font-size: 80%;
  border-bottom: 1px solid #e5e5e5;
}

/* Tablet and Desktop Screens */

@media (min-width: 750px) {
  body {
    font-size: 1.3em;
  }
}

@media (min-width: 600px) {

  body {
    margin: 60px auto;
    width: 70%;
  }
  .nowrap {
    white-space: nowrap;
  }
  #about {
    margin: 0 auto;
    max-width: 800px;
  }
  .portrait {
    display: inline-block;
    vertical-align: middle;
    border-radius: 100%;
    width: 46%;
    margin-right: 2%;
    max-width: 400px;
  }
  .text {
    display: inline-block;
    vertical-align: middle;
    width: 46%;
    margin-left: 2%;
  }
  .box {
    float: left;
    width: 31%;
    margin: 1%;
  }
}

/* Quotes */

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;
}
@media (min-width: 30em) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

/* Tables */

table {
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  overflow: auto;
}
td,
th {
  padding: .25em 1em;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
